@media only screen and (max-width: 500px) {
	#menubar
	{
		display: block;
	}
	.menu
	{
		position: fixed;
		height: 100vh;
		width: 100%;
		background: #ffffffc7;
		top: 0;
		right: 0;
		display: grid;
		place-items: center;
		visibility: hidden;
		opacity: 0;
		transition: 0.7s;
		z-index: 3000;
		backdrop-filter: blur(6px);
	}
	.openmenu
	{
		visibility: visible;
		opacity: 1;
	}
	.navbar ul
	{
		flex-direction: column;
	}
	.navbar ul li a
	{
		font-size: 20px;
		display: flex;
		align-items: center;
		gap: 15px;
	}
	.menu ul li  a i
	{
		opacity: 1;
		position: relative;
		font-size: 20px;
	}
	.menu ul li  a:hover i
	{
		opacity: 100%;
	}
	.closemenu
	{
		display: block;
		position: fixed;
		top: 10px;
		right: 15px;
		font-size: 25px;
		user-select: none;
		cursor: pointer;
	}
	.blog_box img
	{
		height: 150px;
		width: 250px;
	}
	.blog_box
	{
		width: 260px;
	}
	.blog_box h3
	{
		font-size: 15px;
	}
	.showabout div
	{
		height: 500px;
	}
}